<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>Inventory Service</display-name>
	<servlet>
		<display-name>Data Access Layer Service for Brown</display-name>
		<servlet-name>DALService</servlet-name>
		<servlet-class>inventory.ws.DALService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DALService</servlet-name>
		<url-pattern>/ws</url-pattern>
	</servlet-mapping>
	<persistence-context-ref>
    <persistence-context-ref-name>dal/ctx</persistence-context-ref-name>
    <persistence-unit-name>InventoryPersistenceUnit</persistence-unit-name>
  </persistence-context-ref>

  <persistence-unit-ref>
    <persistence-unit-ref-name>dal/emf</persistence-unit-ref-name>
    <persistence-unit-name>InventoryPersistenceUnit</persistence-unit-name>
  </persistence-unit-ref>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<resource-ref> 
		<res-ref-name>jdbc/browndb</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Unshareable</res-sharing-scope>
	</resource-ref>
</web-app>
